@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');     /* Anton Font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');     /* Open Sans Font for LandingPage */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');     /* Roboto Slab Font for LandingPage */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');     /* Inter Font for About */

@import "tailwindcss";

.about-shadow {
  box-shadow: 0px 0px 70px rgba(198, 241, 133, 0.7);
  opacity: 0.4;
}

.footer-hover{
  display : block; 
  transition: all 0.6s;
  cursor : pointer;
}

.footer-hover:hover{
  color : rgb(0, 0, 0);
}